{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12 mb-6 mt-4">
        <h1 class="text-center">Contact</h1>
		<h2 class="text-center">Contactez-nous directement pour toutes vos questions.</h2>
		<p class="text-center">
			Merci d'écrire vos nom, prénom et adresse email et de poser votre question ci-dessous.
            Nous vous répondrons dès que possible.
		</p>

        <form method="post" style="margin-top: 1.3em;">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Valider</button>
        </form>
    </div>
{%endblock%}